In [1]:
import math
import collections

import numpy as np 
import pandas as pd 
import matplotlib.pyplot as pp

%matplotlib inline

In [2]:
people = [('Michele', 'Vallisneri', 'July 15'),
          ('Albert', 'Einstein', 'March 14'),
          ('John', 'Lennon', 'October 9'),
          ('Jocelyn', 'Bell Burnell', 'July 15')]

In [3]:
people[0][0]

'Michele'

In [4]:
people[0][1]

'Vallisneri'

In [6]:
[person for person in people if person[2] == 'July 15']

[('Michele', 'Vallisneri', 'July 15'), ('Jocelyn', 'Bell Burnell', 'July 15')]

In [39]:
persontype = collections.namedtuple('person', ['firstname', 'lastname', 'birthday'])

In [40]:
michele = persontype('Michele', 'Vallisneri', 'July 15')

In [41]:
michele

person(firstname='Michele', lastname='Vallisneri', birthday='July 15')

In [42]:
michele = persontype(lastname='Vallisneri', firstname='Michele', birthday='July 15')

In [43]:
michele

person(firstname='Michele', lastname='Vallisneri', birthday='July 15')

In [44]:
michele[0], michele[1], michele[2]

('Michele', 'Vallisneri', 'July 15')

In [45]:
michele.firstname, michele.lastname, michele.birthday

('Michele', 'Vallisneri', 'July 15')

In [46]:
persontype(people[0])

TypeError: __new__() missing 2 required positional arguments: 'lastname' and 'birthday'

In [47]:
persontype(*people[0])

person(firstname='Michele', lastname='Vallisneri', birthday='July 15')

In [48]:
namedpeople = [persontype(*person) for person in people]

In [49]:
namedpeople

[person(firstname='Michele', lastname='Vallisneri', birthday='July 15'),
 person(firstname='Albert', lastname='Einstein', birthday='March 14'),
 person(firstname='John', lastname='Lennon', birthday='October 9'),
 person(firstname='Jocelyn', lastname='Bell Burnell', birthday='July 15')]

In [51]:
[person for person in namedpeople if person.birthday == 'July 15']

[person(firstname='Michele', lastname='Vallisneri', birthday='July 15'),
 person(firstname='Jocelyn', lastname='Bell Burnell', birthday='July 15')]

In [52]:
from dataclasses import dataclass

In [53]:
@dataclass
class personclass:
    firstname: str
    lastname: str
    birthday: str = 'unknown'

In [54]:
michele = personclass('Michele', 'Vallisneri')

In [55]:
michele

personclass(firstname='Michele', lastname='Vallisneri', birthday='unknown')

In [56]:
michele = personclass(firstname='Michele', lastname='Vallisneri')

In [57]:
michele

personclass(firstname='Michele', lastname='Vallisneri', birthday='unknown')

In [58]:
michele.firstname, michele.lastname, michele.birthday

('Michele', 'Vallisneri', 'unknown')

In [59]:
michele[0]

TypeError: 'personclass' object is not subscriptable

In [60]:
print(michele)

personclass(firstname='Michele', lastname='Vallisneri', birthday='unknown')

In [61]:
@dataclass
class personclass2:
    firstname: str
    lastname: str
    birthday: str = 'unknown'

    def fullname(self):
        return self.firstname + ' ' + self.lastname

In [62]:
michele = personclass2('Michele', 'Vallisneri', 'July 15')

In [63]:
michele.fullname()

'Michele Vallisneri'

In [64]:
def mydefault():
    return "I don't know"

In [65]:
questions = collections.defaultdict(mydefault)

In [66]:
questions['The meaning of life']

"I don't know"

In [70]:
questions

defaultdict(<function __main__.mydefault()>,
            {'The meaning of life': "I don't know"})

In [67]:
birthdays = {}

for person in namedpeople:
    if person.birthday in birthdays:
        birthdays[person.birthday].append(person.firstname)
    else:
        birthdays[person.birthday] = [person.firstname]

In [68]:
birthdays

{'July 15': ['Michele', 'Jocelyn'],
 'March 14': ['Albert'],
 'October 9': ['John']}

In [69]:
list()

[]

In [72]:
birthdays = collections.defaultdict(list)

for person in namedpeople:
    birthdays[person.birthday].append(person.firstname)

In [73]:
birthdays

defaultdict(list,
            {'July 15': ['Michele', 'Jocelyn'],
             'March 14': ['Albert'],
             'October 9': ['John']})